/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */  

div {
  border: 4px solid rgb(100, 42, 100);
  padding: 16px;
}

img {
  height: auto;
  width: 500px;
}

.base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-image: linear-gradient(#D78989, #6F4747);
  display:flex;
  align-items: center;
  justify-content: space-evenly;
}

.left-image {
  font-family: "DM Sans",sans-serif;
}

.right-text {
  font-family: "DM Sans",sans-serif;
}
