/* div {
  border: 2px solid tomato;
} */

img {
  /* border: 2px solid red; */
  object-fit: cover;
}

.base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #EADCDC;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}

.left-image {
  display: flex;
  justify-content: center;
  padding: 75px;
}

.circle {
  height: 420px;
  width: 420px;
  background-color: #7F6757;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  height: 400px;
  width: 400px;
  margin: 0;
  border-radius: 50%;
}

.right-text {
  font-family: Trebuchet MS;
  color: #4E3D38;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.intro, .name, .sm_icon {
  padding: 0%;
  padding-top: 7px;
  padding-bottom: 7px
}

.name {
  font-size: 50pt;
}

.typing-container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 32px;
}

#typing-text {
	display: inline-block;
	vertical-align: middle;
	color: #4E3D38;
}

#cursor {
  display: inline-block;
  width: 2px;
  height: 20px;
  background-color: #7F6757;
  animation: blink .6s linear infinite alternate;
}

@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}

.social-media {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 20px;
}

.icon_link:hover, .icon_link:focus, .icon_link:active, .icon_link:visited, .icon_link:link {
  text-decoration: none;
}

.icon_link:hover {
  opacity: 0.7;
}

.fab, .fas {
  /* border: 2px solid darkblue; */
  font-size: 32px;
  color: #7F6757;
  text-align: left;
  padding-top: 10px;
  padding-right: 30px;
}
