/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */  

div {
  border: 4px solid rgb(100, 42, 100);
  padding: 20px;
}

img {
  object-fit: cover;
  height: 400px;
  width: 400px;
  box-shadow: 0 4px 60px rgba(0,0,0,.5);
}

.base {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  /* background-image: linear-gradient(#D78989, #6F4747); */
  background-image: linear-gradient(#ffbebe, #D78989);
  padding: 20;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; 
}

/* font-family: "DM Sans",sans-serif;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
color: #fff; */

/* font size: 96px, 74? - sans-serif */

.left-image {
  display: flex;
  justify-content: center;
  padding: 20;
  /* width: 30%; */
}

.right-text {
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  padding: 20;
  /* width: 50%; */
}
